body {
  background-color: #ffe6f2;
  font-family: "Poppins", sans-serif;
  color: #ff1493;
  text-align: center;
  margin-top: 100px;
}

.btn,
button {
  background-color: #ff66b2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
button:hover {
  background-color: #ff3385;
}

.error {
  color: red;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.hearts::before {
  content: "💖💞💕💓💗💘💝";
  font-size: 40px;
  display: block;
  animation: float 3s infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

audio {
	display: none;
}
